node_modules
.secrets.env
test/contracts/*.json

# Hardhat files
cache
artifacts
typechain
deployments/localhost
coverage.json
coverage
*.log

# Openzeppelin
.openzeppelin

# Editors, IDEs
.idea
.vscode


