# copy this file as .secrets.env and fill in your secrets
MAINNET_DEPLOYER_HDPATH=<the HD path for signing the Mainnet contract operations, must be an owner in MAINNET_DEPLOYER_ADDRESS>
RINKEBY_DEPLOYER_HDPATH=<the HD path for signing the Rinkeby contract operations, must be an owner in RINKEBY_DEPLOYER_ADDRESS>

MAINNET_DEPLOYER_ADDRESS=<the Mainnet multi-sig address>
RINKEBY_DEPLOYER_ADDRESS=<the Rinkeby multi-sig address>

ROPSTEN_DEPLOYER_PRIVATE_KEY=<the private key for signing the ropsten contract deployment>
GOERLI_DEPLOYER_PRIVATE_KEY=<the private key for signing the Goerli contract deployment>
ALCHEMY_MAINNET_APIKEY=<Alchemy API key for mainnet app>
ALCHEMY_ROPSTEN_APIKEY=<Alchemy API key for ropsten app>
ALCHEMY_GOERLI_APIKEY=<Alchemy API key for Goerli app>

ETHERSCAN_APIKEY=<the Etherscan API key for source verification>
