# copy this file as .secrets.env and fill in your secrets
MAINNET_DEPLOYER_PRIVATE_KEY=<the private key for signing the mainnet contract deployment>
ROPSTEN_DEPLOYER_PRIVATE_KEY=<the private key for signing the ropsten contract deployment>
GOERLI_DEPLOYER_PRIVATE_KEY=<the private key for signing the Goerli contract deployment>
ALCHEMY_MAINNET_APIKEY=<Alchemy API key for mainnet app>
ALCHEMY_ROPSTEN_APIKEY=<Alchemy API key for ropsten app>
ALCHEMY_GOERLI_APIKEY=<Alchemy API key for Goerli app>
